@import "../../vars.css";

.container {
    color: var(--colot-text);
    margin-top: 79px;
    margin-left: 10%;
    margin-right: 10%;
    z-index: 1;
}

.title {
    color: var(--colot-text);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
    z-index: 1;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 14px;
}

.skills {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 37px;
}

.skill {
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.skillImageContainer {
    background-color: var(--color-secondary);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
}

.skillImageContainer img {
    width: 75px;
}